<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Library </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>



    <style type="text/css">
    	body {
    		color: #aa082e;
    		background: #c5acb0;
    		font-family: 'Roboto', sans-serif;
    	}
        .form-control {
    		border-color: #eee;
            min-height: 41px;
    		box-shadow: none !important;
    	}
        .form-control:focus {
    		border-color: #5cd3b4;
    	}
        .form-control, .btn {
            border-radius: 3px;
        }
    	.signup-form {
    		width: 500px;
    		margin: 0 auto;
    		padding: 30px 0;
    	}
        .signup-form h2 {
    		color: #333;
            margin: 0 0 30px 0;
    		display: inline-block;
    		padding: 0 30px 10px 0;
    	    border-bottom: 3px solid #ffffff;
        }
        .signup-form form {
    		color: #999;
    		border-radius: 3px;
        	margin-bottom: 15px;
            background: #fff;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
    	.signup-form .form-group {
    		margin-bottom: 20px;
    	}
    	.signup-form label {
    		font-weight: normal;
    		font-size: 13px;
    	}
        .signup-form input[type="checkbox"] {
    		margin-top: 2px;
    	}
        .signup-form .btn {
            font-size: 16px;
            font-weight: bold;
    		border: none;
    		margin-top: 20px;
    		min-width: 140px;
        }
    	.signup-form .btn:hover, .signup-form .btn:focus {
    		background: #41cba9;
            outline: none !important;
    	}
        .signup-form a {
    		color: #2b04ff;

    		text-decoration: underline;
    	}
    	.signup-form a:hover {
    		text-decoration: none;
    	}
        .signup-form form a {
    		color: #5cd3b4;
    		text-decoration: none;
    	}
    	.signup-form form a:hover {
    		text-decoration: underline;
    	}
    </style>

  </head>
  <body style="background-color:#b6bde7;">
    {% include "library/navbaradmin.html" %}
    <br> <br>
    
    <div class="signup-form">
        <form  method="post" class="form-horizontal">

    			<center><h2>ISSUE BOOK TO STUDENT</h2></center>

		{% csrf_token %}

            {% for field in form %}
            <div class="form-group">
              <label class="control-label col-xs-4">{{ field.label_tag }}</label>
              <div class="col-xs-8">
              {{ field }}
               </div>
            </div>
            {% endfor %}


    		<div class="form-group">
    			<div class="col-xs-8 col-xs-offset-4">
            <button type="submit" class="btn btn-success btn-lg" style="border-radius: 0%;">ISSUE</button>
    			</div>
    		</div>
        </form>
    	<div class="text-center">View Issued Book to Student  <a href="viewissuedbook">Click here</a></div>
    </div>




    {% include "library/footer.html" %}
  </body>
</html>
